{% extends 'catalog/base.html' %}

{% block content %}
    {% for object in all %}
        <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ object.client|title|truncatechars:100 }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">Краткая информация :<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Статус :{{ object.status|title }}</li>
                <li>Периодичность :{{ object.frequency|title }} </li>
                <li>Время рассылки :{{ object.send_time|title}}</li>
            </ul>
        </div>
            </div>
    {% endfor %}
{% endblock %}
